body {
    background-image: linear-gradient(to bottom right, #09494f, black);
}

#avatar {
    border: 5px solid white;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    transform: translateY(150px);
    opacity: 0;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.elements {
    position: absolute;
    top: 60%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
}