body {
    background-image: linear-gradient(#2e2d2a, #000000);
}

#middle-name
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

hr {
    position: absolute;
    width: 180px;
    top: 260px;
}