@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

body {
    background-image: linear-gradient(to bottom right, #09494f, black);
}

#name {
    font-family: 'Convergence', sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.elements {
    opacity: 0;
    text-align: center;
    margin-top: 20%;
}