.navbar {
    background-color: #721e96;
    position: absolute;
    width: 15%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.navbar-top-div {
    border-bottom: 3px solid white;
}

#navbar-top-img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    position: relative;
    margin: 10px;
}

#navbar-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 0px;
    left: 75px;
}